.faq-section {
  box-sizing: border-box;
  width: 80vw;
  margin: auto;
  border-top: 5px inset rgb(255, 255, 0);
  font-size: 1.1em;
  /* font-family: "Special Elite", cursive; */
  background: rgb(0, 2, 36);
  background: linear-gradient(
    30deg,
    rgb(27, 16, 27) 0%,
    rgba(0, 119, 255, 0.8) 100%
  );
  margin-top: 6rem;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.faq-container {
  box-sizing: border-box;
  padding: 3em;
  width: 70%;
  height: 100%;
  color: #f8f2db;
}

.faq-heading,
.faq-subheading {
  color: rgb(49, 5, 129);
  text-align: center;
  font-family: "Special Elite", cursive;
  font-size: larger;
}

.faq-heading {
  font-size: 2em;
}

.faq-subheading {
  font-size: 1.5em;
  margin-bottom: 3rem;
}

.faq-main-content {
  text-align: justify;
  font-size: 1.33rem;
  line-height: 2.2rem;
  margin-top: 6rem;
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  color: rgb(36, 2, 2);
}

.faq-main-content:hover {
  color: rgb(255, 200, 133);
  transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -ms-transform: scale(1.015);
  -o-transform: scale(1.015);
}
