.gallery-section {
  box-sizing: border-box;
  width: 80vw;
  /* height: 100vh; */
  margin: auto;
  margin-top: 5rem;
  /* border-top: 5px inset rgba(19, 19, 16, 0.664); */
  font-size: 1.1em;
  font-family: "Special Elite", cursive;
  background: rgb(0, 2, 36);
  background: linear-gradient(
    150deg,
    rgb(156, 2, 77) 0%,
    rgba(2, 1, 0, 0.535) 100%
  );
  /* background: radial-gradient(
    circle,
    rgba(17, 19, 57, 1) 0%,
    rgba(162, 234, 246, 0.535) 100%
  ); */
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /* box-shadow: 0px 4px 100px 50px rgba(219, 5, 219, 0.2); */

  /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
}

.gallery-container {
  box-sizing: border-box;
  padding: 3rem;
  display: flex;
  width: 70%;
  height: 100%;
  /* border: 1px solid greenyellow; */
  /* perspective: 450px; */
}

.gallery-heading,
.gallery-subheading {
  color: rgb(250, 235, 30);
  text-align: center;
}

.gallery-heading {
  font-size: 2em;
}

.gallery-subheading {
  font-size: 1.5em;
  margin-bottom: 5.5rem;
}
.gallery-text {
  /* text-align: justify; */
  font-size: 1.33rem;
  z-index: 1;
}

.gallery-div img {
  margin: 0.6rem 0.45rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: transform 200ms ease-in-out;
  -webkit-transition: transform 200ms ease-in-out;
  -moz-transition: transform 200ms ease-in-out;
  -ms-transition: transform 200ms ease-in-out;
  -o-transition: transform 200ms ease-in-out;
}

.gallery-div img:hover {
  border-radius: 10px;
  box-shadow: 2px 4px 20px -1px rgba(229, 255, 0, 0.918),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: -6px 11px 34px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -6px 11px 34px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -6px 11px 34px 1px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transform: translate3d(2%, 0, 1px);
  -webkit-transform: translate3d(2%, 0, 1px);
  -moz-transform: translate3d(2%, 0, 1px);
  -ms-transform: translate3d(2%, 0, 1px);
  -o-transform: translate3d(2%, 0, 1px);
}
