@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:ital,wght@0,300;0,400;1,300&family=Exo:ital,wght@0,300;0,400;1,300&family=Rampart+One&family=Special+Elite&display=swap");

.header-section {
  margin: auto;
  width: 80vw;
  max-height: 80vh;
  min-height: 72vh;
  overflow: hidden;
  opacity: 0.87;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*box-shadow: 0px 4px 100px 50px rgba(219, 5, 219, 0.2),    0 6px 20px 60px rgba(0, 0, 0, 0.19);
  */
  background: url(../header1.jpeg) center/cover;

  border-bottom: 7px solid rgba(47, 47, 3, 0.623);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.header-section .img-wrapper {
  margin-top: 2rem;
  padding-top: 8rem;
  padding-bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /* border-bottom: 1px solid #ff4800; */
}

.header-section h1 {
  /*border-bottom: 1px solid #ff4800;
  */
  transform: skew(3deg, 2deg);
  color: wheat;
  margin: auto;
  width: 60%;
  font-size: 3.5vw;
  font-family: "Audiowide", cursive;
  background: #fda943;
  /*fallbackforoldbrowsers*/
  background: -webkit-linear-gradient(to right, #ff0080, #fda943, #39ffeb);
  background: linear-gradient(to right, #ff0080, #fda943, #39ffeb);
  /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all ease 200ms;
  -webkit-transition: all ease 200ms;
  -moz-transition: all ease 200ms;
  -ms-transition: all ease 200ms;
  -o-transition: all ease 200ms;
  -webkit-transform: skew(3deg, 2deg);
  -moz-transform: skew(3deg, 2deg);
  -ms-transform: skew(3deg, 2deg);
  -o-transform: skew(3deg, 2deg);
}

.header-section h1:hover {
  opacity: 1;
  text-shadow: 2px -3px 6px rgba(244, 255, 11, 0.53);
}

.header-section .header-caption {
  padding-top: 2rem;
  color: #faf2af;
  font-size: 1.6rem;
  font-family: "Special Elite", cursive;
  text-transform: capitalize;
  font-weight: bold;
}

.galaxy2 {
  /*margin: auto;
  */
  width: 100vw;
  max-height: 60vh;
  min-height: 50vh;
  /*background-image: radial-gradient(#880066c7 1px, transparent 1px);
  */
  background-image: radial-gradient(#4ffa0bc7 1px, transparent 1px);
  background-size: 10px 10px;
  background-color: rgba(0, 31, 23, 0.1);
  z-index: 1;
  position: absolute;
  /* transform: translateX(5%) rotateX(10deg); */
  /* -webkit-transform: translateX(5%) rotateX(10deg);
  -moz-transform: translateX(5%) rotateX(10deg);
  -ms-transform: translateX(5%) rotateX(10deg);
  -o-transform: translateX(5%) rotateX(10deg); */
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.ufo {
  margin-top: 4rem;
  height: 40vh;
  animation: ufoEntry alternate 1.5;
  -webkit-animation: ufoEntry alternate 1.5;
}

@keyframes ufoEntry {
  from {
    width: 300%;
  }

  to {
    width: 100%;
  }
}

/* @media (max-width: 768px) {
  .siteName {
    width: 85vw;
    height: 10vh;
  }
} */

@media (max-width: 1200px) {
  /* .siteName {
    width: 65vw;
  } */
}

@media (max-width: 768px) {
  .social-media {
    color: #c7fffa;
    position: fixed;
    top: 75vh;
  }
  .social-media-box {
    margin: 20px 10px;
    font-size: x-small;
  }
}
