@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:ital,wght@0,300;0,400;1,300&family=Exo:ital,wght@0,300;0,400;1,300&family=Rampart+One&family=Special+Elite&display=swap");

.header-section {
  margin: auto;
  width: 75vw;
  max-height: 65vh;
  min-height: 60vh;
  overflow: hidden;
  opacity: 0.87;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 0px 4px 100px 50px rgba(219, 5, 219, 0.2),
    0 6px 20px 60px rgba(0, 0, 0, 0.19);
  background: url(../header.png) center/cover;
  /* position: fixed; */
  /* border-bottom: 7px solid rgb(0, 0, 0); */

  /* background: #c33764;
  background: -webkit-linear-gradient(
      to left,
      rgba(0, 0, 0, 0.5),
      rgba(0, 64, 255, 0.4)
    ),
    url(../header.png) center/cover;
  background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.5),
      rgba(0, 64, 255, 0.4)
    ),
    url(../header.png) center/cover; */
  /* background: url(../header.png) center/cover;; */

  /* background: radial-gradient(
      ellipse at center,
      rgba(100, 9, 9, 0.383) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(../header.png) center/cover; */
}

.header-section .img-wrapper {
  padding-top: 8em;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* border-bottom: 1px solid #ff4800; */
}

.header-section h1 {
  /* position: relative; */

  color: wheat;
  margin: auto;
  width: 60%;
  font-size: 4vw;
  font-family: "Audiowide", cursive;
  background: #fda943; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff0080, #fda943, #39ffeb);
  background: linear-gradient(to right, #ff0080, #fda943, #39ffeb);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-section .header-caption {
  padding-top: 1em;
  color: #ffb255;
  font-family: "Special Elite", cursive;
}

.galaxy {
  margin: auto;
  /* width: 90vw; */
  max-height: 20vh;
  min-height: 15vh;
  background-image: radial-gradient(#880066c7 1px, transparent 1px);
  background-size: 10px 10px;
  background-color: rgba(0, 31, 23, 0.1);
}

.social-media {
  color: #ea00ff;
  position: fixed;
  top: 60vh;
  background-color: #f5f5de2a;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.social-media-box {
  margin: 30px 20px;
}
/* @media (max-width: 768px) {
  .siteName {
    width: 85vw;
    height: 10vh;
  }
} */

@media (max-width: 1200px) {
  /* .siteName {
    width: 65vw;
  } */
}

@media (max-width: 768px) {
  .social-media {
    color: #c7fffa;
    position: fixed;
    top: 75vh;
  }
  .social-media-box {
    margin: 20px 10px;
    font-size: x-small;
  }
}
