.roadmap-section {
  box-sizing: border-box;
  width: 80vw;
  margin: auto;
  margin-top: 5rem;
  /* border-top: 5px inset rgba(19, 19, 16, 0.664); */
  font-family: "Special Elite", cursive;
  background: rgb(0, 2, 36);
  background: radial-gradient(
    circle,
    rgb(173, 175, 53) 0%,
    rgb(47, 48, 1) 50%,
    rgba(0, 27, 34, 0.8) 100%
  );
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
     */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.roadmap-container {
  box-sizing: border-box;
  padding: 3em;
  display: flex;
  height: 100%;
  /* perspective: 450px; */
}
.roadmap-box1,
.roadmap-box2 {
  border: 1px dashed rgb(255, 238, 0);
  border-top: none;
  border-bottom: none;
  margin: 1.56rem;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
}
.roadmap-heading,
.roadmap-subheading {
  color: rgb(81, 255, 0);
  text-align: center;
}

.roadmap-heading {
  font-size: 2em;
  margin-bottom: 5rem;
}

.roadmap-subheading {
  font-size: 1.5em;
  margin: 3rem auto;
}

.roadmap-text {
  font-size: 1.2rem;
  color: #f8f2db;
  line-height: 2.2rem;
  z-index: 1;
}

/* --ROADMAP TIMELINE-- */

.roadmap-timeline {
  margin: auto;
  width: 70%;
}

.roadmap-phases {
  font-size: 1.3em;
  color: #fffb00;
  margin: 2.7rem auto 0.8rem;
}

.roadmap-timeline-para:hover {
  border-bottom: 1px solid #ff6600;
}

/* --COMMON-- */

.roadmap-timeline-para,
.roadmap-rewards-para {
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
}

.roadmap-timeline-para:hover,
.roadmap-rewards-para:hover {
  color: rgb(255, 200, 133);
  transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -ms-transform: scale(1.015);
  -o-transform: scale(1.015);
}

/* --ROADMAP-REWARDS-- */

.roadmap-rewards {
  margin: auto;
  width: 75%;
}

.roadmap-rewards-para {
  padding: 1rem;
  padding-top: 0;
  border: 3px dashed #a601af;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  background-color: #85007a6e;
  font-size: 83%;
}

.roadmap-rewards-para:hover {
  color: rgb(255, 200, 133);
  background-color: #a601af98;
}

.roadmap-percent {
  font-size: 1.4em;
  color: #ff6600;
  margin: 1.8rem auto 1rem;
}

.roadmap-percent span {
  font-size: 80%;
  text-transform: capitalize;
}

.roadmap-ethereum-giveaway {
  color: #9dff00;
}

/* .guide-container {
  border-bottom: 20px solid black;
  width: 80vw;
  margin: 5rem auto;
  padding: 5rem 3.8rem 5rem 1rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background: #faac1ab2;
  background: rgb(0, 2, 36);
  background: radial-gradient(
    circle,
    rgb(29, 36, 250) 0%,
    rgba(29, 250, 128, 0.77) 50%,
    rgba(88, 21, 66, 0.535) 100%
  );
  background: radial-gradient(
    circle,
    rgb(29, 36, 250) 0%,
    rgba(29, 250, 128, 0.77) 50%,
    rgba(88, 21, 66, 0.535) 100%
  );
}

.guide-container .guide {
  width: 80%;
} */
