.roadmap-section {
  box-sizing: border-box;
  width: 80vw;
  margin: auto;
  /*border-top: 5px inset rgba(19, 19, 16, 0.664);
    */
  font-size: 1.5em;
  font-family: "Special Elite", cursive;
  background: rgb(0, 2, 36);
  background: radial-gradient(
    circle,
    rgb(173, 175, 53) 0%,
    rgb(47, 48, 1) 50%,
    rgba(0, 27, 34, 0.8) 100%
  );
  margin-top: 5rem;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  /*box-shadow: 0px 4px 100px 50px rgba(219, 5, 219, 0.2);
    */ /*clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
     */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.roadmap-container {
  box-sizing: border-box;
  padding: 3em;
  display: flex;
  height: 100%;
  /* perspective: 450px; */
}
.roadmap-box1,
.roadmap-box2 {
  border: 3px solid salmon;
  margin: 1.56rem;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
}
.roadmap-heading,
.roadmap-subheading {
  color: rgb(81, 255, 0);
  text-align: center;
}

.roadmap-heading {
  font-size: 2em;
  margin-bottom: 5rem;
}

.roadmap-subheading {
  font-size: 1.5em;
  margin: 3rem auto;
}

.roadmap-phases,
.roadmap-percent {
  font-size: 1.4em;
  margin: 3rem auto;
}

.roadmap-phases {
  font-size: 1.4em;
  color: #fffb00;
}

.roadmap-percent {
  margin-top: 1.8rem;
  color: #ff6600;
}
/* --ROADMAP-REWARDS */

.roadmap-rewards-para {
  padding: 1rem;
  padding-top: 0;
  border: 3px solid #a601af;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin: 3rem auto;
  background-color: #85007a6e;
}

.roadmap-percent span {
  font-size: 80%;
  text-transform: capitalize;
}

.roadmap-timeline {
  margin: auto;
  width: 70%;
}

.roadmap-timeline .roadmap-subheading {
  margin-bottom: 3.5rem;
}

.roadmap-rewards {
  margin: auto;
  width: 75%;
}

.roadmap-phase-heading {
  text-align: center;
}

.roadmap-text {
  /* text-align: justify; */
  font-size: 1.5rem;
  color: #f8f2db;
  line-height: 2.2rem;
  z-index: 1;
}

.roadmap-div {
  z-index: 1;
}

.roadmap-timeline-para,
.roadmap-rewards-para {
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
}

.roadmap-timeline-para:hover,
.roadmap-rewards-para:hover {
  color: rgb(255, 200, 133);
  transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -ms-transform: scale(1.015);
  -o-transform: scale(1.015);
}

.ethereum {
  color: #9dff00;
  font-size: 2rem;
  font-weight: 500;
}

.ethereum:hover {
  color: #ff6600;
}

.guide-container {
  border-bottom: 20px solid black;
  width: 80vw;
  margin: 5rem auto;
  padding: 5rem 3.8rem 5rem 1rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background: #faac1ab2;
  background: rgb(0, 2, 36);
  background: radial-gradient(
    circle,
    rgb(29, 36, 250) 0%,
    rgba(29, 250, 128, 0.77) 50%,
    rgba(88, 21, 66, 0.535) 100%
  );
  background: radial-gradient(
    circle,
    rgb(29, 36, 250) 0%,
    rgba(29, 250, 128, 0.77) 50%,
    rgba(88, 21, 66, 0.535) 100%
  );
}

.guide-container .guide {
  width: 80%;
}
