.story-section {
  box-sizing: border-box;
  width: 80vw;
  height: 100vh;
  margin: auto;
  /* border-top: 5px inset rgba(19, 19, 16, 0.664); */
  font-size: 1.1em;
  font-family: "Special Elite", cursive;
  background: rgb(0, 2, 36);
  background: radial-gradient(
    circle,
    rgb(3, 4, 37) 0%,
    rgba(147, 240, 26, 0.535) 100%
  );
  /* background: radial-gradient(
    circle,
    rgba(17, 19, 57, 1) 0%,
    rgba(162, 234, 246, 0.535) 100%
  ); */
  margin-top: 5rem;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /* box-shadow: 0px 4px 100px 50px rgba(219, 5, 219, 0.2); */

  /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
}

.story-container {
  box-sizing: border-box;
  padding: 3em;
  display: flex;
  width: 70%;
  height: 100%;
  /* perspective: 450px; */
}

.story-heading,
.story-subheading {
  color: rgb(224, 132, 26);
  text-align: center;
}

.story-heading {
  font-size: 2em;
}

.story-subheading {
  font-size: 1.5em;
  margin-bottom: 3rem;
}
.story-text {
  text-align: justify;
  font-size: 1.33rem;
  color: #f8f2db;
  line-height: 2.2rem;
  z-index: 1;
}

.story-div {
  z-index: 1;
}

.story-para-1,
.story-para-2,
.story-para-3 {
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
}

.story-para-1:hover,
.story-para-2:hover,
.story-para-3:hover {
  color: rgb(255, 200, 133);
  transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -ms-transform: scale(1.015);
  -o-transform: scale(1.015);
}

.story-para-1,
.story-para-3 {
  margin-top: 6rem;
}

.story-para-2 {
  margin-top: 6rem;
  margin-right: -5rem;
}

.story-end {
  margin-top: 6rem;
}

.ethereum {
  color: #9dff00;
  font-size: 2rem;
  font-weight: 500;
}

.ethereum:hover {
  color: #ff6600;
}
