.faq-section {
  box-sizing: border-box;
  width: 80vw;
  margin: auto;
  margin-top: 5rem;
  border-top: 5px inset #131310a9;
  background: #021020cc;
  background: linear-gradient(30deg, #1b101b 0%, #021020cc 100%);
  background: -moz-linear-gradient(30deg, #1b101b 0%, #021020cc 100%);
  background: -webkit-linear-gradient(30deg, #1b101b 0%, #021020cc 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.faq-container {
  box-sizing: border-box;
  padding: 3rem;
  width: 70%;
  height: 100%;
}

.faq-heading {
  color: rgb(0, 174, 255);
  text-align: center;
  font-family: "Special Elite", cursive;
  margin-bottom: 3rem;
}

/* CUSTOM STYLES FOR IN BUILT CLASSES FOR ACCORDION */

.accordion {
  text-align: left;
}

.accordion-item {
  font-family: "Special Elite", cursive;
  font-size: 90%;
  color: darkblue;
  background-color: rgb(177, 253, 158);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.accordion-button {
  background-color: rgb(169, 245, 255);
  border-bottom: 3px dotted rgba(0, 0, 0, 0.048);
  font-size: 1.17rem;
}

.accordion-button:focus {
  border: 1px solid rgb(0, 0, 0);
}

.accordion-button:not(.collapsed) {
  background-color: rgb(26, 24, 8);
  color: rgb(155, 250, 3);
  font-weight: 500;
  font-size: 70%;
}

.accordion-body {
  padding-bottom: 5rem;
}

@media (max-width: 1200px) {
  .faq-section {
    width: 100%;
  }
  .faq-heading {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .faq-section {
    margin: 0;
    padding: 4rem 0;
  }
  .faq-container {
    padding: 0;
    width: 80%;
  }
  .faq-heading {
    font-size: 1.6rem;
  }
  .accordion-item {
    font-size: 80%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .accordion-button {
    font-size: 0.8rem;
  }
  .accordion-button:not(.collapsed) {
    background-color: rgb(26, 24, 8);
    margin-bottom: 0;
    padding-bottom: 0.5rem;
    font-size: 60%;
  }
  .accordion-body {
    padding-bottom: 2rem;
  }
}
