.gallery-section {
  border-radius: 0 10px 10px;
  box-sizing: border-box;
  width: 80vw;
  margin: auto;
  margin-top: 5rem;
  border-top: 5px inset rgba(19, 19, 16, 0.664);
  font-size: 1.1rem;
  font-family: "Special Elite", cursive;
  background: #021c3fa9;
  background: linear-gradient(220deg, #021c3fa9 70%, #fb07d2d9 90%);
  background: -moz-linear-gradient(220deg, #021c3fa9 70%, #fb07d2d9 90%);
  background: -webkit-linear-gradient(220deg, #021c3fa9 70%, #fb07d2d9 90%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-border-radius: 10px;
  -moz-border-radius: 0 10px 10px;
  -ms-border-radius: 0 10px 10px;
  -o-border-radius: 0 10px 10px;
  -webkit-border-radius: 0 10px 10px;
}

.gallery-container {
  box-sizing: border-box;
  padding: 3rem;
  width: 70%;
  height: 100%;
  font-size: 1.33rem;
  padding-bottom: 5rem;
}

.gallery-heading,
.gallery-subheading {
  color: #faeb1e;
  text-align: center;
}

.gallery-subheading {
  margin-bottom: 5.5rem;
}

.gallery-div img {
  margin: 0.6rem 0.45rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  border-bottom: 10px solid transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
}

.gallery-div img:hover {
  border-radius: 10px;
  /*box-shadow: 2px 4px 20px -1px rgba(229, 255, 0, 0.918),    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  */
  box-shadow: -6px 11px 34px 1px #000000bf;
  -webkit-box-shadow: -6px 11px 34px 1px #000000bf;
  -moz-box-shadow: -6px 11px 34px 1px #000000bf;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transform: translate3d(1%, 0, 1px);
  -webkit-transform: translate3d(1%, 0, 1px);
  -moz-transform: translate3d(1%, 0, 1px);
  -ms-transform: translate3d(1%, 0, 1px);
  -o-transform: translate3d(1%, 0, 1px);
  border-bottom: 10px solid rgb(180, 171, 41);
}

.gallery-div img:active {
  box-shadow: -6px 21px 54px 1px #d2fd46bf;
}

@media (max-width: 1200px) {
  .gallery-section {
    width: 100%;
  }
  .gallery-div-3img img {
    width: 260px;
    height: 260px;
  }
  .gallery-div-2img img {
    width: 380px;
    height: 380px;
  }
  .gallery-container {
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .gallery-div-3img img {
    width: 190px;
    height: 190px;
  }
  .gallery-div-2img img {
    width: 300px;
    height: 300px;
  }
  .gallery-container {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .gallery-section {
    margin-top: 0;
    padding-top: 4rem;
  }
  .gallery-heading {
    font-size: 1.6rem;
  }
  .gallery-subheading {
    font-size: 1rem;
    margin-bottom: 2.5rem;
  }
  .gallery-container {
    width: 100%;
    padding: 0;
  }
  .gallery-div-3img img {
    width: 120px;
    height: 120px;
  }
  .gallery-div-2img img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 480px) {
  .gallery-container {
    padding: 0 2.5rem;
  }
  .gallery-div-3img img {
    width: 90px;
    height: 90px;
  }
  .gallery-div-2img img {
    width: 145px;
    height: 145px;
  }
  .gallery-div img {
    margin: 1.5rem 0.1rem;
  }
}

@media (max-width: 300px) {
  .gallery-div-3img img {
    width: 70px;
    height: 70px;
  }
  .gallery-div-2img img {
    width: 105px;
    height: 105px;
  }
}