.game-mechanics-section {
  border-radius: 0 10px 10px;
  box-sizing: border-box;
  width: 80vw;
  margin: auto;
  margin-top: 5rem;
  border-top: 5px inset #131310a9;
  font-size: 1.33rem;
  font-family: "Special Elite", cursive;
  background: #02000188;
  background: linear-gradient(270deg, #9c024d 0%, #02000188 100%);
  background: -moz-linear-gradient(270deg, #9c024d 0%, #02000188 100%);
  background: -webkit-linear-gradient(270deg, #9c024d 0%, #02000188 100%);
  background: linear-gradient(220deg, #001d38 0%, #020c0c 70%, #f5841a 90%);
  background: -moz-linear-gradient(
    220deg,
    #001d38 0%,
    #020c0c 70%,
    #f5841a 90%
  );
  background: -webkit-linear-gradient(
    220deg,
    #001d38 0%,
    #020c0c 70%,
    #f5e61a 90%
  );
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  /*box-shadow: 0px 4px 100px 50px rgba(219, 5, 219, 0.2);
  */
  -moz-border-radius: 0 10px 10px;
  -ms-border-radius: 0 10px 10px;
  -o-border-radius: 0 10px 10px;
  -webkit-border-radius: 0 10px 10px;
}

.game-mechanics-container {
  box-sizing: border-box;
  padding: 3rem;
  width: 70%;
  height: 100%;
}

.game-mechanics-heading,
.game-mechanics-subheading {
  color: #faeb1e;
  text-align: center;
}

.game-mechanics-heading {
  font-size: 2em;
}

.game-mechanics-subheading {
  font-size: 1.5em;
  margin-bottom: 5.5rem;
}

.ufo-2 {
  transform: rotateY(0.5turn);
  -webkit-transform: rotateY(0.5turn);
  -moz-transform: rotateY(0.5turn);
  -ms-transform: rotateY(0.5turn);
  -o-transform: rotateY(0.5turn);
}

.game-mechanics-div img {
  margin: 0.6rem 0.45rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: animation 400ms ease-in-out;
  -webkit-transition: animation 400ms ease-in-out;
  -moz-transition: animation 400ms ease-in-out;
  -ms-transition: animation 400ms ease-in-out;
  -o-transition: animation 400ms ease-in-out;
}

.game-mechanics-div img:hover {
  border-radius: 10px;
  animation: 3s slidein infinite alternate-reverse;
  box-shadow: -6px 11px 34px 1px #000000bf;
  -webkit-box-shadow: -6px 11px 34px 1px #000000bf;
  -moz-box-shadow: -6px 11px 34px 1px #000000bf;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-animation: 3s slidein infinite alternate-reverse;
}

@keyframes slidein {
  0% {
    box-shadow: 2px 4px 7px -1px #ff0000ea, 0 6px 20px 0 #00000030;
    transform: translate3d(2%, 0, 1px);
    -webkit-transform: translate3d(2%, 0, 1px);
    -moz-transform: translate3d(2%, 0, 1px);
    -ms-transform: translate3d(2%, 0, 1px);
    -o-transform: translate3d(2%, 0, 1px);
  }

  25% {
    box-shadow: 2px 4px 7px -1px #2bff00ea, 0 6px 20px 0 #00000030;
    transform: translate3d(3%, 0, 1px);
    -webkit-transform: translate3d(3%, 0, 1px);
    -moz-transform: translate3d(3%, 0, 1px);
    -ms-transform: translate3d(3%, 0, 1px);
    -o-transform: translate3d(3%, 0, 1px);
  }

  50% {
    box-shadow: 2px 4px 7px -1px #e5ff00ea, 0 6px 20px 0 #00000030;
    transform: translate3d(2%, 0, 1px);
    -webkit-transform: translate3d(2%, 0, 1px);
    -moz-transform: translate3d(2%, 0, 1px);
    -ms-transform: translate3d(2%, 0, 1px);
    -o-transform: translate3d(2%, 0, 1px);
  }

  75% {
    box-shadow: 2px 4px 7px -1px #ff00d4ea, 0 6px 20px 0 #00000030;
    transform: translate3d(3%, 0, 1px);
    -webkit-transform: translate3d(3%, 0, 1px);
    -moz-transform: translate3d(3%, 0, 1px);
    -ms-transform: translate3d(3%, 0, 1px);
    -o-transform: translate3d(3%, 0, 1px);
  }

  100% {
    box-shadow: 2px 4px 7px -1px #0044ffea, 0 6px 20px 0 #00000030;
    transform: translate3d(1%, 0, 1px);
    -webkit-transform: translate3d(1%, 0, 1px);
    -moz-transform: translate3d(1%, 0, 1px);
    -ms-transform: translate3d(1%, 0, 1px);
    -o-transform: translate3d(1%, 0, 1px);
  }
}

@media (max-width: 1500px) {
  .game-mechanics-div img{
    width: 240px;
  }
}

@media (max-width: 1200px) {
  .game-mechanics-section {
    width: 100%;
    padding-top: 4rem;
    font-size: 1rem;
  }

  .game-mechanics-container {
    padding: 0;
    width: 80%;
  }

  .game-mechanics-subheading {
    margin-bottom: 2.5rem;
  }

  .ufo-1 {
    transform: rotate(0.1turn);
    -webkit-transform: rotate(0.1turn);
    -moz-transform: rotate(0.1turn);
    -ms-transform: rotate(0.1turn);
    -o-transform: rotate(0.1turn);
  }

  .ufo-1 img {
    width: 200px;
  }

  .game-mechanics-div img {
    margin: 0;
    padding: 0;
  }

  .game-mechanics-div p {
    margin: 2rem 0 0 0;
  }

  .game-mechanics-div h4 {
    margin: 3rem 0 2rem 0;
    background-color: #7702fc8a;
    padding: 0.7rem 0;
    border-radius: 20px 0 20px;
    -webkit-border-radius: 20px 0 20px;
    -moz-border-radius: 20px 0 20px;
    -ms-border-radius: 20px 0 20px;
    -o-border-radius: 20px 0 20px;
  }
}

@media (max-width: 768px) { 
  .game-mechanics-section {
    margin-top: 0;
  }

  .game-mechanics-heading {
    font-size: 1.35em;
  }

  .game-mechanics-subheading {
    font-size: 1.1em;
    margin-bottom: 0.5rem;
  }
}