@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:ital,wght@0,300;0,400;1,300&family=Exo:ital,wght@0,300;0,400;1,300&family=Raleway:wght@300&family=Rampart+One&family=Special+Elite&display=swap");

.header-section {
  margin: auto;
  width: 80vw;
  height: 90vh;
  overflow: hidden;
  opacity: 0.87;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*box-shadow: 0px 4px 100px 50px rgba(219, 5, 219, 0.2),    0 6px 20px 60px rgba(0, 0, 0, 0.19);
  */
  background: linear-gradient(25deg, #0031115e, #1601016c, #001f1b6c),
    url(../Planets.webp) center/cover;
  margin-top: 0.2rem;
  /* border-bottom: 5px inset rgba(133, 9, 108, 0.336); */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.header-section .head-wrapper {
  width: 60%;
  height: 85vh;
  margin: auto;
  margin-top: 3rem;
  padding: 6rem 3rem;
  border-radius: 5px;
  background: #000000d9;
  background: linear-gradient(
    180deg,
    #14140317 0%,
    #e4e4d12f 10%,
    #363c7038 15%,
    #5858225e 20%,
    #000000d9 30%,
    #0000008a 65%,
    #11680669 80%,
    #4646052f 92%,
    #14140309 94%
  );
  background: -moz-linear-gradient(
    180deg,
    #14140317 0%,
    #e4e4d12f 10%,
    #363c7038 15%,
    #5858225e 20%,
    #000000d9 30%,
    #0000008a 65%,
    #11680669 80%,
    #4646052f 92%,
    #14140309 94%
  );
  background: -webkit-linear-gradient(
    180deg,
    #14140317 0%,
    #e4e4d12f 10%,
    #363c7038 15%,
    #5858225e 20%,
    #01011377 30%,
    #000000e7 65%,
    #11680669 80%,
    #4646052f 92%,
    #14140309 94%
  );
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.header-section h1 {
  margin: auto;
  margin-bottom: 1rem;
  padding-top: 2rem;
  font-size: 4vw;
  font-family: "Audiowide", cursive;
  background: #fda943;
  /*fallbackforoldbrowsers*/
  background: -webkit-linear-gradient(to right, #ff0080, #fda943, #39ffeb);
  background: linear-gradient(to right, #ff0080, #fda943, #39ffeb);
  /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all ease 200ms;
  -webkit-transition: all ease 200ms;
  -moz-transition: all ease 200ms;
  -ms-transition: all ease 200ms;
  -o-transition: all ease 200ms;
}

.header-section h1:hover {
  opacity: 1;
  text-shadow: 2px -3px 6px rgba(244, 255, 11, 0.53);
}

.header-section h2 {
  width: 60%;
  color: rgb(255, 186, 59);
  text-shadow: 2px -3px 6px rgba(244, 255, 11, 0.53);
  margin: auto;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(255, 0, 212);
}

@media (max-width: 1200px) and (min-width: 1024px) {
  .header-section .head-wrapper {
    width: 80%;
    height: 100vh;
    padding: 8rem 3rem;
    margin-top: 0;
  }
}

@media (max-width: 1023px) {
  .header-section {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(25deg, #0031115e, #1601011e, #001f1b6c),
      url(../Planets.webp) center/cover;
  }

  .header-section .head-wrapper {
    width: 80%;
    height: 100vh;
    padding: 15rem 3rem;
  }

  .header-section h1 {
    font-size: 4.5rem;
  }

  .header-section h2 {
    font-size: 2.2rem;
    margin-bottom: 5rem;
  }
}

@media (max-width: 767px) {
  .header-section {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(25deg, #0031115e, #1601011e, #001f1b6c),
      url(../Planets.webp) center/cover;
  }

  .header-section .head-wrapper {
    width: 100%;
    height: 100%;
    padding: 8rem 3rem;
  }

  .header-section h1 {
    margin-bottom: 1rem;
    padding-top: 0.2rem;
    font-size: 8vw;
  }

  .header-section h2 {
    font-size: 5vw;
    width: 70%;
  }
}

@media (max-width: 480px) {
  .header-section {
    width: 100vw;
    height: 100%;
  }

  .header-section .head-wrapper {
    padding: 1rem 3rem 8rem 3rem;
  }

  .header-section h1 {
    margin-top: 7rem;
  }

  .header-section h2 {
    margin-bottom: 9rem;
  }
}
