.header-mint-count {
  width: 80%;
  margin: 7.5rem auto 2rem;
  padding: 1rem 2rem;
  background: #af01af21;
  background: linear-gradient(
    90deg,
    #0000000e 10%,
    #7701777e 30%,
    #ff44ff 40%,
    #ff009575 45%,
    #0e000ec0 55%,
    #1313000e 92%
  );
  background: -moz-linear-gradient(
    90deg,
    #0000000e 10%,
    #7701777e 30%,
    #ff44ff 40%,
    #ff009575 45%,
    #0e000ec0 55%,
    #1313000e 92%
  );
  background: -webkit-linear-gradient(
    90deg,
    #0000000e 10%,
    #7701777e 30%,
    #ff44ff 40%,
    #ff009575 45%,
    #0e000ec0 55%,
    #1313000e 92%
  );
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.header-mint-count .mint-btn {
  background: #fdfc47;
  /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/
  background: linear-gradient(to left, #24fe41, #fdfc47);
  /*fallbackforoldbrowsers*/
  background: -webkit-linear-gradient(to left, #24fe41, #fdfc47);
  /*Chrome10-25,Safari5.1-6*/
  border: none;
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 1.5rem;
  font-family: "Exo", sans-serif;
  border-radius: 10% 10% 50% 50%;
  -webkit-border-radius: 10% 10% 50% 50%;
  -moz-border-radius: 10% 10% 50% 50%;
  -ms-border-radius: 10% 10% 50% 50%;
  -o-border-radius: 10% 10% 50% 50%;
  letter-spacing: 1px;
  transform: skew(1deg, -1deg);
  transition: all ease 200ms;
  -webkit-transition: all ease 200ms;
  -moz-transition: all ease 200ms;
  -ms-transition: all ease 200ms;
  -o-transition: all ease 200ms;
  -webkit-transform: skew(1deg, -1deg);
  -moz-transform: skew(1deg, -1deg);
  -ms-transform: skew(1deg, -1deg);
  -o-transform: skew(1deg, -1deg);
}

.header-mint-count .mint-btn:hover {
  box-shadow: 0px 4px 100px 50px rgba(219, 5, 219, 0.2),
    0 6px 20px 60px rgba(0, 0, 0, 0.19);
  transform: skew(-1deg, 1deg) scale(1.07);
  -webkit-transform: skew(-1deg, 1deg) scale(1.07);
  -moz-transform: skew(-1deg, 1deg) scale(1.07);
  -ms-transform: skew(-1deg, 1deg) scale(1.07);
  -o-transform: skew(-1deg, 1deg) scale(1.07);
  background: #fda943;
  /*fallbackforoldbrowsers*/
  background: linear-gradient(100deg, #ff0080, #fda943, #39ffeb);
  background: -webkit-linear-gradient(100deg, #ff0080, #fda943, #39ffeb);
  background: -moz-linear-gradient(100deg, #ff0080, #fda943, #39ffeb);
}

.fa-certificate {
  color: rgb(33, 64, 235);
}

.header-mint-count .count {
  color: rgb(80, 39, 39);
  box-shadow: 0px 4px 100px 50px rgba(219, 5, 219, 0.2),
    0 6px 20px 60px rgba(0, 0, 0, 0.19);
  margin-top: 1.5rem;
  padding: 0.8rem 0.4rem;
  background: #cac531;
  /* fallback for old browsers */
  background: linear-gradient(
    to left,
    #f3f9a7,
    #cac531
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -webkit-linear-gradient(to left, #f3f9a7, #cac531);
  background: -moz-linear-gradient(
    to left,
    #f3f9a7,
    #cac531
  ); /* Chrome 10-25, Safari 5.1-6 */
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

@media (max-width: 768px) {
  .header-mint-count {
    width: 100%;
    margin: 8.5rem auto 2rem;
    padding: 0.7rem 1rem;
    background: linear-gradient(
      90deg,
      #0000000e 10%,
      #7701777e 30%,
      #ff44ff 40%,
      #ff009575 45%,
      #0e000ec0 51%,
      #1616120a 92%
    );
    background: -moz-linear-gradient(
      90deg,
      #0000000e 10%,
      #7701777e 30%,
      #ff44ff 40%,
      #ff009575 45%,
      #0e000ec0 51%,
      #1616120a 92%
    );
    background: -webkit-linear-gradient(
      90deg,
      #0000000e 10%,
      #7701777e 30%,
      #ff44ff 40%,
      #ff009575 45%,
      #0e000ec0 51%,
      #1616120a 92%
    );
  }

  .header-mint-count .mint-btn {
    border: none;
    padding: 0.5rem 1.2rem;
    font-weight: 500;
    font-size: 0.9rem;
  }
  .header-mint-count .mint-btn:hover {
    box-shadow: 0px 4px 10px 10px rgba(219, 5, 219, 0.2),
      0 6px 10px 20px rgba(0, 0, 0, 0.19);
  }

  .header-mint-count .count {
    margin-top: 0.8rem;
    padding: 0.2rem 1rem;
    font-size: 1.12rem;
  }
}
