.navBar {
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px inset #4097e9;
  padding: 0.7rem;
  padding-bottom: 0.9rem;
  z-index: 1;
  /* border-bottom: 5px solid black; */
  box-shadow: 0 50px 100px -20px #2705c0b3, 0 6px 20px 100px #0000004d;
  background: #ff00aa;
  background: radial-gradient(circle, #ff00aa 6%, #4c00ff 90%);
  background: -moz-radial-gradient(circle, #ff00aa 6%, #4c00ff 90%);
  background: -webkit-radial-gradient(circle, #ff00aa 6%, #4c00ff 90%);
  filter: progid: DXImageTransform.Microsoft.gradient(    startColorstr= "#ff00aa",    endColorstr= "#4c00ff",    GradientType=1  );
  -webkit-filter: progid: DXImageTransform.Microsoft.gradient(    startColorstr= "#ff00aa",    endColorstr= "#4c00ff",    GradientType=1  );
}

.navBar .nav_link {
  font-family: "Special Elite", cursive;
  color: #1f1f1b !important;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem 1.3rem !important;
  margin: 0.9rem 0.9rem 0.3rem;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 #6f701969, 0 6px 20px 0 #00000030;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: border-radius ease 400ms, transform ease 300ms;
  -webkit-transition: border-radius ease 400ms, transform ease 300ms;
  -moz-transition: border-radius ease 400ms, transform ease 300ms;
  -ms-transition: border-radius ease 400ms, transform ease 300ms;
  -o-transition: border-radius ease 400ms, transform ease 300ms;
}

.navBar .nav_link:hover {
  border: 1px solid #9beb1a;
  box-shadow: 0 4px 8px 0 #db05db91, 0 6px 20px 0 #00000030;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transform: scale(1.1) !important;
  -webkit-transform: scale(1.1) !important;
  -moz-transform: scale(1.1) !important;
  -ms-transform: scale(1.1) !important;
  -o-transform: scale(1.1) !important;
}

.navBar .nav_link:active,
.navBar .gallery_btn:active {
  border: 1px solid #1a28eb;
  box-shadow: 0 4px 8px 0 #05db4591, 0 6px 20px 0 #00000030;
}

.navBar .nav_link:enabled {
  border-bottom: 10px solid #1a28eb;
  box-shadow: 0 4px 8px 0 #05db4591, 0 6px 20px 0 #00000030;
}

.navBar .gallery_btn {
  background-color: #02062750;
  color: #fafe24 !important;
  border-bottom: 2px solid #ff00d4 !important;
  transition: border-radius ease 350ms, transform ease 300ms;
  -webkit-transition: border-radius ease 350ms, transform ease 300ms;
  -moz-transition: border-radius ease 350ms, transform ease 300ms;
  -ms-transition: border-radius ease 350ms, transform ease 300ms;
  -o-transition: border-radius ease 350ms, transform ease 300ms;
}

.navBar .gallery_btn:hover {
  box-shadow: 0 4px 8px 0 #db05db91, 0 6px 20px 0 #00000030;
  background-color: #02062750;
  color: #fafe24 !important;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.navBar .wallet {
  color: #000011 !important;
  min-width: 250px;
  background-color: #cfffa3;
  margin-top: 0.05rem;
  margin-left: 10vw;
  position: fixed;
  font-size: 1.3rem;
  border: 5px solid black;
  padding: 0.5rem 0.5rem 0.5rem 1rem !important;
  box-shadow: -3px 4px 8px 0 #8b8eb191, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px 50px;
  -webkit-border-radius: 20px 50px;
  -moz-border-radius: 20px 50px;
  -ms-border-radius: 20px 50px;
  -o-border-radius: 20px 50px;
  transition: border-radius ease 400ms, transform ease 250ms,
    border-left ease 400ms;
  -webkit-transition: border-radius ease 400ms, transform ease 250ms,
    border-left ease 400ms;
  -moz-transition: border-radius ease 400ms, transform ease 250ms,
    border-left ease 400ms;
  -ms-transition: border-radius ease 400ms, transform ease 250ms,
    border-left ease 400ms;
  -o-transition: border-radius ease 400ms, transform ease 250ms,
    border-left ease 400ms;
}

.navBar .wallet:hover {
  background: #ffb151;
  /*fallbackforoldbrowsers*/
  background: -webkit-linear-gradient(to right, #ff3a9c, #ffb151, #40e0d0);
  /*Chrome10-25,Safari5.1-6*/
  background: linear-gradient(to right, #ff3a9c, #ffb151, #40e0d0);
  /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/
  box-shadow: -3px 4px 8px 0 #8b8eb191, 0 6px 20px 0 #00000030;
  border-radius: 20px 30px;
  -webkit-border-radius: 20px 30px;
  -moz-border-radius: 20px 30px;
  -ms-border-radius: 20px 30px;
  -o-border-radius: 20px 30px;
  transform: scale(1.02) !important;
  -webkit-transform: scale(1.02) !important;
  -moz-transform: scale(1.02) !important;
  -ms-transform: scale(1.02) !important;
  -o-transform: scale(1.02) !important;
  border: 5px solid black;
  border-left: 13px inset #b1660a;
}

.navBar .wallet:active {
  box-shadow: 0 4px 8px 0 #eeff00, 0 6px 20px 0 #ffe600;
}

.fa-wallet {
  padding-left: 2px;
  color: #880139;
  font-size: 1.4rem;
}

.logo {
  position: fixed;
  top: 9vh;
  left: 0.9rem;
  height: 6rem;
  padding: 0.8rem;
  box-shadow: 0 4px 8px 0 #2a51ff, 0 6px 10px 0 #1100a7c4;
  transition: border-radius ease 400ms, box-shadow ease 250ms;
  border-radius: 10% 50%;
  -webkit-border-radius: 10% 50%;
  -moz-border-radius: 10% 50%;
  -ms-border-radius: 10% 50%;
  -o-border-radius: 10% 50%;
  -webkit-transition: border-radius ease 400ms, box-shadow ease 250ms;
  -moz-transition: border-radius ease 400ms, box-shadow ease 250ms;
  -ms-transition: border-radius ease 400ms, box-shadow ease 250ms;
  -o-transition: border-radius ease 400ms, box-shadow ease 250ms;
}

.logo:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px 0 #ff0062, 0 6px 20px 0 #88ff008f;
  border-radius: 50% 10%;
  -webkit-border-radius: 50% 10%;
  -moz-border-radius: 50% 10%;
  -ms-border-radius: 50% 10%;
  -o-border-radius: 50% 10%;
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
}

.logo:active {
  box-shadow: 0 4px 8px 0 #eeff00, 0 6px 20px 0 #ffe600d5;
}

.social-media {
  position: fixed;
  top: 22vh;
  z-index: 1;
}

.social-media-box {
  margin: 7px 18px;
  z-index: 1;
}

.fa-discord,
.fa-instagram,
.fa-twitter {
  color: #8aff7f;
  border: 1px solid rgba(0, 0, 255, 0.4);
  padding: 1rem;
  border-radius: 50%;
  transition: color ease 300ms, border-radius ease 300ms, transform ease 250ms;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: color ease 300ms, border ease 300ms,
    border-radius ease 300ms, transform ease 250ms;
  -moz-transition: color ease 300ms, border-radius ease 300ms,
    transform ease 250ms;
  -ms-transition: color ease 300ms, border-radius ease 300ms,
    transform ease 250ms;
  -o-transition: color ease 300ms, border-radius ease 300ms,
    transform ease 250ms;
}

.fa-discord:hover,
.fa-instagram:hover,
.fa-twitter:hover {
  color: #ff0062;
  transform: scale(1.05);
  border-radius: 40%;
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
  -ms-border-radius: 40%;
  -o-border-radius: 40%;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.fa-discord:active,
.fa-instagram:active,
.fa-twitter:active {
  border: 1px solid #00ff55;
}

@media (max-width: 1750px) {
  .navBar .wallet {
    right: 8px;
  }
}

@media (max-width: 1400px) {
  .navBar .wallet {
    top: 3.5rem;
    right: 1px;
  }
}

@media (max-width: 1200px) {
  .logo {
    height: 5rem;
    padding: 0.6rem;
  }
  .social-media {
    top: 24vh;
  }
  .social-media-box {
    margin: 10px 18px;
  }
  .fa-discord,
  .fa-instagram,
  .fa-twitter {
    font-size: 2.7rem;
    padding: 0.8rem;
  }
}

@media (max-width: 1024px) {
  .navBar > .container {
    margin: 0;
  }
  .navBar .nav_link {
    font-size: 1rem;
  }
  .navBar .wallet {
    min-width: 200px;
    top: 3.3rem;
  }
}

@media (max-width: 768px) {
  .navBar > .container {
    margin: auto;
  }
  .logo {
    height: 3rem;
    padding: 0.22rem;
    top: 8px;
    left: 1rem;
    box-shadow: 0 2px 5px 0 #0167ff, 0 3px 5px 0 #aaffc8c4;
  }

  .social-media {
    position: fixed;
    top: 18vh;
  }

  .social-media-box {
    margin: 4px 0;
    font-size: 9px;
  }

  .fa-discord,
  .fa-instagram,
  .fa-twitter {
    padding: 0.5rem;
    color: #8aff7f;
  }

  .navBar .nav_link {
    display: block;
    font-size: 1rem;
  }

  .navBar .nav_link:hover,
  .navBar .gallery_btn:hover,
  .navBar .nav-mint-btn:hover {
    border: 1px solid #0b012f;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
  }

  .navBar .wallet {
    font-size: 1.05rem;
    border: 1px solid transparent;
    margin: 1rem 1rem 0.25rem;
    position: static;
    padding: 0.4rem 1rem;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .navBar .wallet:hover {
    border: 1px solid #0b012f;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transform: scale(1.1) !important;
    -webkit-transform: scale(1.1) !important;
    -moz-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    -o-transform: scale(1.1) !important;
  }

  .fa-wallet {
    font-size: 1.3rem;
  }
}

.navBar .nav-mint-btn {
  color: black !important;
  font-size: 0.87rem;
  background: #fdfc47;
  /*fallbackforoldbrowsers*/
  background: -webkit-linear-gradient(to right, #24fe41, #fdfc47);
  /*Chrome10-25,Safari5.1-6*/
  background: linear-gradient(to right, #24fe41, #fdfc47);
  /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/
  /* padding: 0.6rem 1.2rem; */
  font-weight: 500;
  font-family: "Exo", sans-serif;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  letter-spacing: 1px;
}
