.roadmap-section {
  box-sizing: border-box;
  width: 80vw;
  margin: auto;
  margin-top: 5rem;
  border-top: 5px inset #131310a9;
  font-family: "Special Elite", cursive;
  background: #000224;
  background: linear-gradient(220deg, #001d38 0%, #020c0c 70%, #f5841a 90%);
  background: -moz-linear-gradient(
    220deg,
    #001d38 0%,
    #020c0c 70%,
    #f5841a 90%
  );
  background: -webkit-linear-gradient(
    220deg,
    #001d38 0%,
    #020c0c 70%,
    #f5841a 90%
  );
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.roadmap-container {
  box-sizing: border-box;
  padding: 3em;
  height: 100%;
  font-size: 1.2rem;
  color: #f8f2db;
  line-height: 2.2rem;
}

.roadmap-box1 {
  border-left: 1px dashed #ffee00;
  border-right: 10px solid #041303;
  border-bottom: none;
  margin: 1.56rem;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
  background-color: #35032e3a;
}

.roadmap-box2 {
  margin: 1.56rem;
  background-color: #fffcff9d;
  border-left: 10px solid #032c00;
  /*border-right: 3px ridge rgb(43, 255, 0);
  */
  border-radius: 10% 50% 80%;
  -webkit-border-radius: 10% 50% 80%;
  -moz-border-radius: 10% 50% 80%;
  -ms-border-radius: 10% 50% 80%;
  -o-border-radius: 10% 50% 80%;
}

.roadmap-heading,
.roadmap-subheading {
  color: #f79501;
  text-align: center;
}

.roadmap-heading {
  font-size: 2em;
  margin-bottom: 5rem;
}

.roadmap-subheading {
  font-size: 1.5em;
  margin: 3rem auto;
}

/* --ROADMAP TIMELINE-- */

.roadmap-timeline {
  margin: auto;
  width: 70%;
}

.roadmap-phases {
  font-size: 1.3em;
  color: #fffb00;
  margin: 2.7rem auto 0.8rem;
}

.roadmap-timeline-para:hover {
  border-bottom: 1px solid #ff6600;
}

/* --COMMON-- */

.roadmap-timeline-para,
.roadmap-rewards-para {
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
}

.roadmap-timeline-para:hover,
.roadmap-rewards-para:hover {
  color: #ffc885;
  transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -ms-transform: scale(1.015);
  -o-transform: scale(1.015);
}

/* --ROADMAP-REWARDS-- */

.roadmap-rewards {
  margin: auto;
  width: 75%;
}

.roadmap-rewards-para {
  color: #defdff;
  padding: 1rem;
  padding-top: 0;
  border: 3px dotted #1a071b;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  background-color: #0b092cbe;
  font-size: 83%;
}

.roadmap-rewards div:nth-child(3) {
  background-color: #2528e9b7;
}

.roadmap-rewards div:nth-child(4) {
  background-color: #0d1518d7;
}

.roadmap-rewards div:nth-child(5) {
  background-color: #000000e8;
}

.roadmap-rewards-para:hover {
  color: #fca3ff;
  background-color: #a601af98;
}

.roadmap-percent {
  font-size: 1.4em;
  color: #aff9fc;
  margin: 1.8rem auto 1rem;
}

.roadmap-percent span {
  font-size: 80%;
  text-transform: capitalize;
}

.roadmap-solana-giveaway {
  color: #9dff00;
}
