.roadmap-section {
  box-sizing: border-box;
  width: 80vw;
  margin: auto;
  margin-top: 4.5rem;
  border-top: 5px inset #131310a9;
  font-family: "Special Elite", cursive;
  background: #000224;
  background: linear-gradient(220deg, #001d38 0%, #020c0c 70%, #f5841a 90%);
  background: -moz-linear-gradient(
    220deg,
    #001d38 0%,
    #020c0c 70%,
    #f5841a 90%
  );
  background: -webkit-linear-gradient(
    220deg,
    #001d38 0%,
    #020c0c 70%,
    #f5841a 90%
  );
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.roadmap-container {
  box-sizing: border-box;
  padding: 3em;
  height: 100%;
  font-size: 1.2rem;
  color: #f8f2db;
  line-height: 2.2rem;
}

.roadmap-time-release-box {
  border-left: 1px dashed #ffee00;
  border-right: 10px solid #041303;
  border-bottom: none;
  margin: 1.56rem;
  border-radius: 50% 10%;
  -webkit-border-radius: 50% 10%;
  -moz-border-radius: 50% 10%;
  -ms-border-radius: 50% 10%;
  -o-border-radius: 50% 10%;
  background-color: #35032e3a;
}

.roadmap-rewards-box {
  margin: 1.56rem;
  border-left: 10px solid #032c00;
  border-radius: 10% 50% 80%;
  -webkit-border-radius: 10% 50% 80%;
  -moz-border-radius: 10% 50% 80%;
  -ms-border-radius: 10% 50% 80%;
  -o-border-radius: 10% 50% 80%;
}

.roadmap-heading,
.roadmap-subheading {
  color: #f79501;
  text-align: center;
}

.roadmap-heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.roadmap-subheading {
  font-size: 1.5em;
}

/* --ROADMAP TIMELINE-- */

.roadmap-timeline {
  margin: auto;
  width: 70%;
}

.roadmap-phases {
  font-size: 1.3em;
  color: #fffb00;
  margin: 2.7rem auto 0.8rem;
}

.roadmap-timeline-para:hover {
  border-bottom: 1px solid #ff6600;
  color: #ffc885;
}

/* --COMMON-- */

.roadmap-timeline-para,
.roadmap-rewards-para {
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
}

.roadmap-timeline-para:hover,
.roadmap-rewards-para:hover {
  transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -ms-transform: scale(1.015);
  -o-transform: scale(1.015);
}

/* --ROADMAP-REWARDS-- */

.roadmap-rewards {
  margin: auto;
  width: 75%;
}

.roadmap-rewards-para {
  color: #defdff;
  padding: 1rem;
  padding-top: 0;
  border: 3px dotted #1a071b;
  border-radius: 30px 120px;
  -webkit-border-radius: 30px 120px;
  -moz-border-radius: 30px 120px;
  -ms-border-radius: 30px 120px;
  -o-border-radius: 30px 120px;
  background-color: #0b092cbe;
  font-size: 83%;
}

.roadmap-rewards-para-1:hover,
.roadmap-rewards-para-3:hover {
  background-color: #36050cd7;
}

.roadmap-rewards-para-2 {
  background-color: #2528e9b7;
}

.roadmap-rewards-para-2:hover {
  background-color: #1518c7b7;
}

.roadmap-rewards-para-4 {
  background-color: #a80068e8;
}

.roadmap-rewards-para-4:hover {
  background-color: #b9005de8;
}

.roadmap-rewards-para:hover {
  border-color: #746c02;
}

.roadmap-percent {
  font-size: 1.4em;
  color: #aff9fc;
  margin: 1.8rem auto 1rem;
}

.roadmap-percent span {
  font-size: 80%;
  text-transform: capitalize;
}

.roadmap-solana-giveaway {
  color: #9dff00;
}

@media (max-width: 1200px) {
  .roadmap-section {
    width: 100%;
    padding-top: 4rem;
  }

  .roadmap-container {
    padding: 0rem;
    line-height: 1.75rem;
  }

  .roadmap-time-release-box,
  .roadmap-rewards-box {
    font-size: 0.8rem;
    margin: 0;
  }

  .roadmap-rewards-para {
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {
  .roadmap-section {
    padding: 0;
    margin-top: 0;
  }

  .roadmap-container {
    padding: 2rem;
  }

  /* .roadmap-section {
    margin-top: 0;
    width: 100%;
    padding: 0;
    padding-top: 4rem;
  }

  .roadmap-container {
    padding: 2rem;
    line-height: 1.75rem;
  }

  .roadmap-time-release-box,
  .roadmap-rewards-box {
    font-size: 0.8rem;
    margin: 0;
  } */

  .roadmap-rewards-box {
    border-left: 0;
    border-right: 1px dashed #d647b7;
    border-radius: 50% 10%;
    -webkit-border-radius: 50% 10%;
    -moz-border-radius: 50% 10%;
    -ms-border-radius: 50% 10%;
    -o-border-radius: 50% 10%;
  }

  .roadmap-timeline {
    width: 80%;
    margin-bottom: 4.5rem;
  }

  .roadmap-phases {
    margin: 2.5rem auto 0.8rem;
  }

  .roadmap-rewards {
    width: 85%;
  }

  .roadmap-rewards-para-1 {
    background-color: #51015ce3;
  }
}
