.story-section {
  box-sizing: border-box;
  width: 80vw;
  margin: auto;
  margin-top: 4rem;
  border-top: 5px inset rgba(19, 19, 16, 0.664);
  font-size: 1.1em;
  font-family: "Special Elite", cursive;
  background: #021125a9;
  background: linear-gradient(220deg, #021125a9 70%, #ff0080d9 90%);
  background: -moz-linear-gradient(220deg, #021125a9 70%, #ff0080d9 90%);
  background: -webkit-linear-gradient(220deg, #021125a9 70%, #ff0080d9 90%);
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  /*box-shadow: 0px 4px 100px 50px rgba(219, 5, 219, 0.2);
    */
  padding: 4em;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.story-container {
  box-sizing: border-box;
  padding: 3em;
  display: flex;
  width: 60%;
  height: 100%;
}

.story-heading,
.story-subheading {
  color: #ffa600;
  text-align: center;
}

.story-heading {
  font-size: 2em;
}

.story-subheading {
  font-size: 1.5em;
  margin-bottom: 3rem;
}
.story-text {
  text-align: justify;
  font-size: 1.33rem;
  color: #f8f2db;
  line-height: 2.2rem;
}

.story-para-1,
.story-para-2,
.story-para-3 {
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
}

.story-para-1:hover,
.story-para-2:hover,
.story-para-3:hover {
  color: #ffc885;
  transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -ms-transform: scale(1.015);
  -o-transform: scale(1.015);
}

.story-para-1 {
  margin-top: 2rem;
}

.story-para-2 {
  margin-top: 2.5rem;
}

.story-para-3 {
  margin-top: 4rem;
}
.story-end-wrapper {
  padding: 4rem;
  color: #ffd54a;
  text-align: center;
  font-size: 2rem;
}

.solana {
  color: #9dff00;
  font-size: 2rem;
  font-weight: 500;
}

.solana:hover {
  color: #ff6600;
}

@media (max-width:1850px) {
  .story-section {
    width: 100%;
    padding: 3rem 0 2rem 0;
  }
  .story-container {
    width: 80%;
    padding: 0;
  }
}

@media (max-width: 1200px) {
  .story-section {
    width: 100%;
    padding: 3rem 0 2rem 0;
  }

  .story-container {
    width: 80%;
    padding: 0;
  }

  .story-text {
    font-size: 1rem;
  }

  .story-para-1 {
    margin-top: 2.5rem;
    margin-bottom: 4rem;
  }

  .story-para-2 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .story-para-3 {
    margin-top: 4rem;
  }

  .story-end-wrapper {
    padding: 2rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .story-section {
    width: 100%;
    padding: 3rem 0 2rem 0;
    margin-top: 0;
  }

  .story-container {
    width: 80%;
    padding: 0;
  }

  .story-text {
    font-size: .8rem;
    line-height: 1.75rem;
  }

  .story-para-1 {
    margin: 2.5rem 0 4rem 0;
  }

  .story-para-2 {
    margin: 4rem 0;
  }

  .story-para-3 {
    margin: 4rem 0 1rem 0;
  }

  .story-end-wrapper {
    padding: 2rem;
    font-size: 1.25rem;
  }

  .story-text img {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
  }

  .solana {
      font-size: 1.7rem;
  }
}
