.story-section {
  box-sizing: border-box;
  width: 80vw;
  margin: auto;
  margin-top: 4rem;
  border-top: 5px inset rgba(19, 19, 16, 0.664);
  font-size: 1.1em;
  font-family: "Special Elite", cursive;
  background: #021c3fa9;
  background: radial-gradient(circle, #021c3fa9 70%, #07defbd9 90%);
  background: -moz-radial-gradient(circle, #021c3fa9 70%, #07defbd9 90%);
  background: -webkit-radial-gradient(circle, #021c3fa9 70%, #07defbd9 90%);
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  /*box-shadow: 0px 4px 100px 50px rgba(219, 5, 219, 0.2);
    */
  padding: 4em;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.story-container {
  box-sizing: border-box;
  padding: 3em;
  display: flex;
  width: 60%;
  height: 100%;
}

.story-heading,
.story-subheading {
  color: #ffa600;
  text-align: center;
}

.story-heading {
  font-size: 2em;
}

.story-subheading {
  font-size: 1.5em;
  margin-bottom: 3rem;
}
.story-text {
  text-align: justify;
  font-size: 1.33rem;
  color: #f8f2db;
  line-height: 2.2rem;
}

.story-para-1,
.story-para-2,
.story-para-3 {
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
}

.story-para-1:hover,
.story-para-2:hover,
.story-para-3:hover {
  color: #ffc885;
  transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -ms-transform: scale(1.015);
  -o-transform: scale(1.015);
}

.story-para-1 {
  margin-top: 2rem;
}

.story-para-2 {
  margin-top: 2.5rem;
}

.story-para-3 {
  margin-top: 4rem;
}
.story-end-wrapper {
  padding: 4rem;
  color: #ffd54a;
  text-align: center;
  font-size: 2rem;
}

.solana {
  color: #9dff00;
  font-size: 2rem;
  font-weight: 500;
}

.solana:hover {
  color: #ff6600;
}
