.story-section {
  box-sizing: border-box;
  width: 80vw;
  /* height: 80vh; */
  margin: auto;
  /*border-top: 5px inset rgba(19, 19, 16, 0.664);
    */

  font-size: 1.1em;
  font-family: "Special Elite", cursive;
  background: rgb(0, 2, 36);
  background: radial-gradient(
    circle,
    rgba(2, 28, 63, 0.664) 70%,
    rgba(7, 222, 251, 0.85) 90%
  );
  /* clip-path: polygon(0 0, 100% 3%, 100% 84%, 0% 100%); */
  /* margin-top: -10rem; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*box-shadow: 0px 4px 100px 50px rgba(219, 5, 219, 0.2);
    */
  /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
  padding: 4em;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    100% 100%,
    0 100%,
    0% 60%,
    10% 20%
  );
}

.story-container {
  box-sizing: border-box;
  padding: 3em;
  display: flex;
  width: 60%;
  height: 100%;
  /* perspective: 450px; */
}

.story-heading,
.story-subheading {
  color: rgb(255, 166, 0);
  text-align: center;
}

.story-heading {
  font-size: 2em;
}

.story-subheading {
  font-size: 1.5em;
  margin-bottom: 3rem;
}
.story-text {
  text-align: justify;
  font-size: 1.33rem;
  color: #f8f2db;
  line-height: 2.2rem;
  z-index: 1;
}

.story-div {
  z-index: 1;
}

.story-para-1,
.story-para-2,
.story-para-3 {
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
}

.story-para-1:hover,
.story-para-2:hover,
.story-para-3:hover {
  color: rgb(255, 200, 133);
  transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -ms-transform: scale(1.015);
  -o-transform: scale(1.015);
}

.story-para-1 {
  margin-top: 2rem;
}

.story-para-2 {
  margin-top: 5rem;
}

.story-para-3 {
  margin-top: 4rem;
}
.story-end-wrapper {
  padding: 4rem;
  color: #ffd54a;
  text-align: center;
  font-size: 2rem;
}

.solana {
  color: #9dff00;
  font-size: 2rem;
  font-weight: 500;
}

.solana:hover {
  color: #ff6600;
}

.guide-container {
  border-bottom: 20px solid black;
  width: 80vw;
  margin: 5rem auto;
  padding: 5rem 3.8rem 5rem 1rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background: #faac1ab2;
  background: rgb(0, 2, 36);
  background: radial-gradient(
    circle,
    rgb(103, 108, 248) 0%,
    rgba(106, 250, 171, 0.89) 50%,
    rgba(88, 21, 66, 0.535) 100%
  );
  background: radial-gradient(
    circle,
    rgb(29, 36, 250) 0%,
    rgba(29, 250, 128, 0.77) 50%,
    rgba(88, 21, 66, 0.535) 100%
  );
}

.guide-container .guide {
  width: 80%;
}
